

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn-order {
    color: #fff;
    background-color: #ff8906;
    border-color:  #ff8906;
	
}
.section-title {
    text-align: center;
    padding-bottom: 40px;
  }
  .section-title h2 {
    font-size: 64px;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color:  #ff8906;
}
  
.menu-wrap {
	width: 100%;
	padding: 30px 0;
}

.menu-grid {
	width: auto;
	position: relative;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ddd;	/*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
	margin: 10px;
}

.menu-grid-image {
	width: 100%;
	height: 280px;
	overflow: hidden;
}

.menu-grid-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;
}

.menu-grid-box {
	display: block;
	position: absolute;
	text-align: center;
	background: #ff8906;
	left: -80px;
	top: 15px;
	padding: 10px;
	transition: .5s;
}

.menu-grid-box h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	margin-bottom: 5px;
}

.menu-grid-box p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0px;
}

.menu-grid-txt {
	padding: 25px;
}

.menu-grid-txt span {
	color: #ff8906;
	font-size: 13px;
	font-weight: 500;

	text-transform: uppercase;
}

.menu-grid-txt h2 {
	color: #111;
	font-size: 20px;
	font-weight: 500;
	
	margin: 10px 0px 5px 0px;
}

.menu-grid-txt ul {
	padding: 0;
	margin: 0;
}

.menu-grid-txt ul li {
	list-style: none;
	display: inline-block;
	color: #999;
	font-size: 14px;
	font-weight: 300;
	margin: 8px 10px 8px 0px;
	
}

.menu-grid-txt ul li i {
	color: #ff8906;
	font-size: 14px;
	font-weight: 500;
	
}
.menu-grid-txt ul a {
	color: #999;
	font-size: 14px;
	font-weight: 300;
	background-color: transparent;
	padding: 0;
	margin:0;
}


.menu-grid-txt p {
	color: #222;
	font-size: 14px;
	font-weight: 300;
	line-height: 170%;

	border-bottom: 1px solid #ececec;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.menu-grid-txt a {
	color: #fff;
	background: #ff8906;
	padding: 8px 20px;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	
	text-decoration-line: none;
	transition: .5s;
}

/*Hover-Section*/
.menu-grid:hover .menu-grid-box {
	left: 15px;
	transition: .5s;
}

.menu-grid:hover .menu-grid-image img {
	filter: grayscale(1);
	transform: scale(1.1);
	transition: .5s;
}

.menu-grid:hover .menu-grid-txt a {
	text-decoration-line: none;
	color: #131212;
	
	transition: .5s;
}
.menu-grid:hover .menu-grid-txt li a {
	text-decoration-line: none;
	color: #ff8906;
	
	transition: .5s;
}


/*OWL*/
.owl-controls .owl-buttons {
	position: relative;
}

.form{
    width: 100vw;
    height: 100%;
}

.owl-controls .owl-prev {
	position: absolute;
	left: -40px;
	bottom: 230px;
	padding: 8px 17px;
	background: #ff8906;
	border-radius: 50px;
	transition: .5s;
}

.owl-controls .owl-next {
	position: absolute;
	right: -40px;
	bottom: 230px;
	padding: 8px 17px;
	background: #ff8906;
	border-radius: 50px;
	transition: .5s;
}

.owl-controls .owl-prev:after, .owl-controls .owl-next:after {
	content: '\f104';
	font-family: FontAwesome;
	color: #fff;
	font-size: 16px;
}

.owl-controls .owl-next:after {
	content: '\f105';
}

.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover {
	background: #000;
}
